venv/
__pycache__/
*.pyc

.env
.env.*
!.env.example

.DS_Store
*.log
.ipynb_checkpoints/

data/raw/
.playwright/
.streamlit/secrets.toml

bulk_ingest.py
database.py
manual_ingest.py
scraper.py
dashboard/
sql/